
body{
    text-align:center;
    margin:auto;
    color: aliceblue;
    background: linear-gradient(to bottom, #336699 29%, #ffccff 65%);
    
}
h1 {
    font-size: 60px;
    margin-top: 0;
    padding-top: 40px;
}
p {
    font-size: 40px;
    font-style: italic;
}
.gitlinks{
    font-size: 25px;
    
    
}
div {
    padding-top: 50px;
    background: linear-gradient(to bottom, #336699 12%, #ffccff 65%);
  }
  a {
    color: rgb(121, 81, 101);
  }
  